@import "bootstrap-sprockets";
@import "bootstrap";
@import 'toastr';
@import "font-awesome-sprockets";
@import "font-awesome";
/*
 *= require jquery-ui
 */

body {
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
	width: 80%;

}

.logo_nav{
  width: 50px;
  height: 50px;
}


.logo_header{
  width: 600px;
  @media only screen and (max-width: 780px) {

    width: 320px;
  }
}

.container-fluid {
  width: 100%;

}

.navbar-default {
  background-color: #242422;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #b88943;
  font-size: 2em;
  font-weight: 400;
}

.btn-primary.btn {
  border: 1px solid #b88943;
  border-radius: 32px;
  font-weight: bold;
  background-color: #b88943;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #242422;
  border-bottom-color: #242422;
  background-color: #242422;
  outline:none;
}

.btn-primary.btn:active {
  border-color: #e00007;
  background-color: #e00007;
  outline:none;
}

.btn-default.btn {
  width: 100%;
  border-radius: 32px;
  padding: 10px 0;
  margin-top: 10px;
}

.panel-default .panel-heading {
  color: #484848;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400;

}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small {
    width: 25px;
}
.avatar-medium {
    width: 48px;
}
.avatar-large {
    width: 68px;
}
.avatar-full {
    width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 32px;
  height: 4rem;
}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #484848;
  font-weight: bold;
  text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

label {
  color: #484848;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 10px;
}

select {
  color: #484848;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #82888A;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  border-radius: 32px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  border-radius: 32px;
  text-align: center;
  width: 1.25em;
  color: #b88943;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img{

    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.equipments li{
  border: 1px solid #6BA065;
  border-radius: 32px;
  font-weight: bold;
  background-color: #6BA065;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-bottom: 10px;
}
.text-line-through{
  text-decoration: line-through;
}

.reservation-table td{
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.wide{
  width: 100%;
}
.price_tag{
  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

#message, #stripe {
  color: #FF0000;
  opacity: 0.8;
  display: block;
  text-align: center;
}

.home-link a,p{
  color: #82888a;
  text-decoration: none;
}
.home-link:hover a, .home-link:focus a{
  color:#82888a;
  text-decoration: none;
}

#wrapper {
  width:960px;
  margin:0 auto;
}

#sidebar {
  float:left;
  width:100%;
}

#sidebar #widget {
  width:100%;
  height: 100vh;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;
}

#article {
  width:100%;
}

.search { position: relative; }
.search input { text-indent: 30px;}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 7px;
  font-size: 15px;
  opacity: 0.5;
}

.conversation {
  color: #7f7f7f;
  padding: 10px;
}

.conversation:hover, .conversation:focus {
  background-color: #F4F4F5;
}

/*Facebook Connect Button*/
.btn-primary-fb.btn{
color:#FFFFFF; /*font color*/
background:#627AAC; /*button color*/
border: solid 1px #000000; /* border color, size, and line style */
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; /* font-family determines the web-safe font used for the button name */
font-size: 14px; /* size of the text in the Facebook Connect Button */
border-radius: 32px; /* creates rounded corners, for a more button-like look.  The larger the number, the more rounded the corners.  If you don’t want rounded corners, change the border-radius to 0px */
padding:5px; /* amount of space between the text and the border of the button */
}

.btn-primary-fb.btn {
  border: 1px solid #4568b2;
  border-radius: 22px;
  font-weight: bold;
  background-color: #4568b2;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary-fb.btn:hover, .btn-primary-fb.btn:focus {
  border-color: #627aac;
  background-color: #627aac;
  outline:none;
}

.btn-primary-fb.btn:active {
  border-color: #2b2eb2;
  background-color: #2b2eb2;
  outline:none;
}

.ccm {
  border: 2px solid #b88943;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.abo {
  border: 2px solid #2b2eb2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.banner {
//  color: white;
//  text-align: center;
height:100vh;
/*@media only screen and (max-width: 780px) {

  height: auto;
} */
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
//  background-color: #F4F4F4;
}
// FOOTER CSS//
.footer {
  background: -webkit-linear-gradient(to right, #242422, #242422 );
  background: linear-gradient(to right,#242422, #242422  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #fff;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
