<div class="footer">
  <div class="footer-links">
    <a href="https://fr-fr.facebook.com/badminton.barr/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="text-center">
    <a href="#">Nous contacter</a><br>
    <a href="#">FAQ</a><br>
    <a href="#">Mentions légales</a>
  </div>
  <div class="footer-copyright">
    Ce pied de page est fait avec <i class="fas fa-heart"></i> par la Vivi Company :)
  </div>
</div>
